<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring-dao-dingpush.xml"/>

    <bean id="openGlobalLockManager"
          class="com.rishiqing.dingtalk.mgr.dingpush.manager.impl.OpenGlobalLockManagerImpl"/>
    <bean id="openSyncBizDataManager"
          class="com.rishiqing.dingtalk.mgr.dingpush.manager.impl.OpenSyncBizDataManagerImpl"/>
</beans>