<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rishiqing.dingtalk.mgr.dingmain.dao.mapper.corp.CorpStatisticDao">

    <resultMap type="com.rishiqing.dingtalk.api.model.domain.corp.CorpStatisticDO" id="corpStatisticMap">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="corpId" column="corp_id"/>
        <result property="staffCount" column="staff_count"/>
    </resultMap>

    <sql id="select-all-fields">
        id,
        gmt_create,
        gmt_modified,
        corp_id,
        staff_count
    </sql>

    <insert id="saveOrUpdateCorpStatistic" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO isv_corp_statistic
        (gmt_create,
         gmt_modified,
         corp_id,
         staff_count)
        VALUES (now(),
                now(),
                #{corpId},
                #{staffCount})
        ON DUPLICATE KEY UPDATE gmt_modified = now(),
                                staff_count  = #{staffCount}
    </insert>

    <select id="getCorpStatisticByCorpId" resultMap="corpStatisticMap">
        SELECT
        <include refid="select-all-fields"/>
        FROM isv_corp_statistic
        <![CDATA[
			WHERE corp_id=#{corpId}
		 ]]>
    </select>

    <select id="getCorpStatisticByCorpIdForUpdate" resultMap="corpStatisticMap">
        SELECT
        <include refid="select-all-fields"/>
        FROM isv_corp_statistic
        <![CDATA[
			WHERE corp_id=#{corpId}
		 ]]> FOR UPDATE
    </select>
</mapper>