<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring-dao-dingmain.xml"/>
    <import resource="classpath:spring-manager-req-dingtalk.xml"/>

    <!--基础manager-->
    <bean id="suiteManager" class="com.rishiqing.dingtalk.mgr.dingmain.manager.suite.impl.SuiteManagerImpl"/>
    <bean id="appManager" class="com.rishiqing.dingtalk.mgr.dingmain.manager.suite.impl.AppManagerImpl"/>
    <bean id="corpSuiteAuthManager"
          class="com.rishiqing.dingtalk.mgr.dingmain.manager.suite.impl.CorpSuiteAuthManagerImpl"/>
    <bean id="corpAppManager"
          class="com.rishiqing.dingtalk.mgr.dingmain.manager.suite.impl.CorpAppManagerImpl"/>
    <bean id="corpCallbackQueueManager"
          class="com.rishiqing.dingtalk.mgr.dingmain.manager.corp.impl.CorpCallbackQueueManagerImpl"/>
    <bean id="corpManager" class="com.rishiqing.dingtalk.mgr.dingmain.manager.corp.impl.CorpManagerImpl"/>
    <bean id="corpMessageManager" class="com.rishiqing.dingtalk.mgr.dingmain.manager.corp.impl.CorpMessageManagerImpl"/>
    <bean id="deptManager"
          class="com.rishiqing.dingtalk.mgr.dingmain.manager.corp.impl.CorpDepartmentManagerImpl"/>
    <bean id="staffManager" class="com.rishiqing.dingtalk.mgr.dingmain.manager.corp.impl.CorpStaffManagerImpl"/>
    <bean id="orderManager" class="com.rishiqing.dingtalk.mgr.dingmain.manager.order.impl.OrderManagerImpl"/>
    <bean id="idMapStaffManager"
          class="com.rishiqing.dingtalk.mgr.dingmain.manager.front.impl.IdMapStaffManagerImpl"/>
    <bean id="popupManager" class="com.rishiqing.dingtalk.mgr.dingmain.manager.front.impl.PopupManagerImpl"/>
    <bean id="authGlobalLockManager"
          class="com.rishiqing.dingtalk.mgr.dingmain.manager.suite.impl.AuthGlobalLockManagerImpl"/>
    <bean id="filterManager"
          class="com.rishiqing.dingtalk.mgr.dingmain.manager.filter.impl.FilterManagerImpl"/>
</beans>