<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName">

    <!--钉钉授权主库-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${jdbc.dingmain.url}"/>
        <property name="username" value="${jdbc.dingmain.username}" />
        <property name="password" value="${jdbc.dingmain.password}" />
    </bean>

    <!--数据源和配置文件-->
    <bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations">
            <array>
                <value>classpath:mybatis/suite/*Mapper.xml</value>
                <value>classpath:mybatis/corp/*Mapper.xml</value>
                <value>classpath:mybatis/order/*Mapper.xml</value>
                <value>classpath:mybatis/fail/*Mapper.xml</value>
                <value>classpath:mybatis/front/*Mapper.xml</value>
            </array>
        </property>
        <property name="configLocation" value="classpath:mybatis-config-dingmain.xml" />
    </bean>

    <!--配置dao-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="mySqlSessionFactory" />
        <property name="basePackage" value="com.rishiqing.dingtalk.dao.mapper" />
        <property name="annotationClass" value="org.springframework.stereotype.Repository" />
    </bean>

    <!--配置事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--标注@Transactional的类和方法具有事务性-->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!--****************************以下为功倍数据源配置**************************************************-->

    <!--功倍主库-->
    <bean id="workBeiDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="${jdbc.workbei.url}"/>
        <property name="username" value="${jdbc.workbei.username}" />
        <property name="password" value="${jdbc.workbei.password}" />
    </bean>

    <!--数据源和配置文件-->
    <bean id="workbeiSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="workBeiDataSource" />
        <property name="mapperLocations">
            <array>
                <value>classpath:mybatis/workbei/*Mapper.xml</value>
            </array>
        </property>
        <property name="configLocation" value="classpath:mybatis-config-dingmain.xml" />
    </bean>

    <!--配置dao-->
    <bean id="workbeiMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="workbeiSqlSessionFactory" />
        <property name="basePackage" value="com.rishiqing.dingtalk.dao.workbei" />
        <property name="annotationClass" value="org.springframework.stereotype.Repository" />
    </bean>

    <!--配置事务-->
    <bean id="workbeiDataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="workBeiDataSource" />
    </bean>

    <!--标注@Transactional的类和方法具有事务性-->
    <tx:annotation-driven transaction-manager="workbeiDataSourceTransactionManager" />
</beans>