<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring-dao-ding-push.xml" />

    <bean id="openGlobalLockManageService" class="com.rishiqing.dingtalk.biz.service.base.dingpush.impl.OpenGlobalLockManageServiceImpl" />
    <bean id="openSyncBizDataManageService" class="com.rishiqing.dingtalk.biz.service.base.dingpush.impl.OpenSyncBizDataManageServiceImpl" />
    <bean id="openGlobalLockBizService" class="com.rishiqing.dingtalk.biz.service.util.impl.OpenGlobalLockServiceImpl" />
    <bean id="openSyncBizDataBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.OpenSyncBizDataBizServiceImpl" />
    <bean id="suiteDbCheckBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.SuiteDbCheckBizServiceImpl" />

    <!--相关的用来处理钉钉推送过来的消息的处理器-->
    <bean id="suiteTicketSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.SuiteTicketSyncActionHandler" />
    <bean id="orgSuiteAuthSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgSuiteAuthSyncActionHandler" />
    <bean id="orgSuiteChangeSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgSuiteChangeSyncActionHandler" />
    <bean id="orgSuiteRelieveSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgSuiteRelieveSyncActionHandler" />
    <bean id="orgMicroAppRestoreSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgMicroAppRestoreSyncActionHandler" />
    <bean id="orgMicroAppStopSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgMicroAppStopSyncActionHandler" />
    <bean id="orgMicroAppRemoveSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgMicroAppRemoveSyncActionHandler" />
    <bean id="userAddOrgSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.UserAddOrgSyncActionHandler" />
    <bean id="userModifyOrgSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.UserModifyOrgSyncActionHandler" />
    <bean id="userDeptChangeSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.UserDeptChangeSyncActionHandler" />
    <bean id="userLeaveOrgSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.UserLeaveOrgSyncActionHandler" />
    <bean id="orgDeptCreateSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgDeptCreateSyncActionHandler" />
    <bean id="orgDeptModifySyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgDeptModifySyncActionHandler" />
    <bean id="orgDeptRemoveSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgDeptRemoveSyncActionHandler" />
    <bean id="orgUpdateSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgUpdateSyncActionHandler" />
    <bean id="orgRemoveSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.OrgRemoveSyncActionHandler" />
    <bean id="defaultSyncActionHandler" class="com.rishiqing.dingtalk.dingpush.handler.impl.DefaultSyncActionHandler" />

    <bean id="syncActionManager" class="com.rishiqing.dingtalk.dingpush.handler.SyncActionManager">
        <property name="syncActionMap">
            <map>
                <entry key="suite_ticket" value-ref="suiteTicketSyncActionHandler" />
                <entry key="org_suite_auth" value-ref="orgSuiteAuthSyncActionHandler" />
                <entry key="org_suite_change" value-ref="orgSuiteChangeSyncActionHandler" />
                <entry key="org_suite_relieve" value-ref="orgSuiteRelieveSyncActionHandler" />
                <entry key="org_micro_app_restore" value-ref="orgMicroAppRestoreSyncActionHandler" />
                <entry key="org_micro_app_stop" value-ref="orgMicroAppStopSyncActionHandler" />
                <entry key="org_micro_app_remove" value-ref="orgMicroAppStopSyncActionHandler" />
                <entry key="user_add_org" value-ref="userAddOrgSyncActionHandler" />
                <entry key="user_modify_org" value-ref="userModifyOrgSyncActionHandler" />
                <entry key="user_dept_change" value-ref="userDeptChangeSyncActionHandler" />
                <!--修改部门的时候，钉钉居然会返回user_role_change的事件……-->
                <entry key="user_role_change" value-ref="userDeptChangeSyncActionHandler" />
                <entry key="user_leave_org" value-ref="userLeaveOrgSyncActionHandler" />
                <entry key="org_dept_create" value-ref="orgDeptCreateSyncActionHandler" />
                <entry key="org_dept_modify" value-ref="orgDeptModifySyncActionHandler" />
                <entry key="org_dept_remove" value-ref="orgDeptRemoveSyncActionHandler" />
                <entry key="org_update" value-ref="orgUpdateSyncActionHandler" />
                <entry key="org_remove" value-ref="orgRemoveSyncActionHandler" />
                <entry key="org_role_add" value-ref="defaultSyncActionHandler" />
                <entry key="org_role_modify" value-ref="defaultSyncActionHandler" />
                <entry key="market_order" value-ref="defaultSyncActionHandler" />
                <entry key="market_order_cancel" value-ref="defaultSyncActionHandler" />
                <entry key="contact_add_org" value-ref="defaultSyncActionHandler" />
                <entry key="contact_modify_org" value-ref="defaultSyncActionHandler" />
                <entry key="contact_leave_org" value-ref="defaultSyncActionHandler" />
                <entry key="isv_bpms_cancel" value-ref="defaultSyncActionHandler" />
            </map>
        </property>
    </bean>
</beans>