<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring-dao.xml" />

    <!--基础service-->
    <bean id="suiteManageService" class="com.rishiqing.dingtalk.biz.service.base.suite.impl.SuiteManageServiceImpl" />
    <bean id="appManageService" class="com.rishiqing.dingtalk.biz.service.base.suite.impl.AppManageServiceImpl" />
    <bean id="corpSuiteAuthManageService" class="com.rishiqing.dingtalk.biz.service.base.suite.impl.CorpSuiteAuthManageServiceImpl" />
    <bean id="corpAppManageService" class="com.rishiqing.dingtalk.biz.service.base.suite.impl.CorpAppManageServiceImpl" />
    <bean id="corpManageService" class="com.rishiqing.dingtalk.biz.service.base.corp.impl.CorpManageServiceImpl" />
    <bean id="deptManageService" class="com.rishiqing.dingtalk.biz.service.base.corp.impl.CorpDepartmentManageServiceImpl" />
    <bean id="staffManageService" class="com.rishiqing.dingtalk.biz.service.base.corp.impl.CorpStaffManageServiceImpl" />
    <bean id="orderManageService" class="com.rishiqing.dingtalk.biz.service.base.order.impl.OrderManageServiceImpl" />
    <bean id="idMapStaffManageService" class="com.rishiqing.dingtalk.biz.service.base.front.impl.IdMapStaffManageServiceImpl" />
    <bean id="popupManageService" class="com.rishiqing.dingtalk.biz.service.base.front.impl.PopupManageServiceImpl" />
    <!--业务相关的service-->
    <bean id="suiteCallbackBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.SuiteCallbackBizServiceImpl" />
    <bean id="corpBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.CorpBizServiceImpl" />
    <bean id="failBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.FailBizServiceImpl" />
    <bean id="popupBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.PopupBizServiceImpl" />
    <bean id="messageBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.MessageBizServiceImpl" />
    <bean id="chargeBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.ChargeBizService" />
    <bean id="rsqAccountBizService" class="com.rishiqing.self.biz.service.impl.RsqAccountBizServiceImpl" />
    <!--辅助service-->
    <bean id="corpLockService" class="com.rishiqing.dingtalk.biz.service.util.impl.CorpLockServiceImpl" />
    <bean id="suiteService" class="com.rishiqing.dingtalk.biz.service.util.SuiteService" />
    <bean id="deptService" class="com.rishiqing.dingtalk.biz.service.util.DeptService" />
    <bean id="staffService" class="com.rishiqing.dingtalk.biz.service.util.StaffService" />
    <!--http工具-->
    <bean id="suiteRequestHelper" class="com.rishiqing.dingtalk.biz.http.impl.SuiteTopRequestHelper" />
    <bean id="corpRequestHelper" class="com.rishiqing.dingtalk.biz.http.impl.CorpTopRequestHelper" />
    <bean id="messageRequestHelper" class="com.rishiqing.dingtalk.biz.http.impl.MessageTopRequestHelper" />
    <bean id="httpRequestClient" class="com.rishiqing.dingtalk.biz.http.HttpRequestClient" />
    <bean id="rsqRequestHelper" class="com.rishiqing.self.biz.http.impl.RsqApiRequestHelper">
        <property name="rsqDomain" value="${rsqapi.url.root}" />
        <property name="httpRequestClient" ref="httpRequestClient"/>
    </bean>

    <!--eventBus-->
    <!--eventBus: corpSuite：企业授权开通的事件，只在传统回调的方式下使用，钉钉云环境下不使用该事件-->
    <bean id="asyncCorpSuiteAuthExecutorFactory" class="com.rishiqing.dingtalk.biz.event.AsyncCorpSuiteAuthEventExecutorFactory" />
    <bean id="asyncCorpSuiteAuthExecutor" factory-bean="asyncCorpSuiteAuthExecutorFactory" factory-method="getExecutor" />
    <bean id="asyncCorpSuiteAuthEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncCorpSuiteAuthExecutor"/>
    </bean>
    <bean id="corpSuiteAuthEventListener" class="com.rishiqing.dingtalk.biz.event.CorpSuiteAuthEventListener" />
    <!--eventBus: 新建时，同步到日事清的corpOrgCreated-->
    <bean id="asyncCorpOrgCreatedExecutorFactory" class="com.rishiqing.dingtalk.biz.event.AsyncRsqSuiteAuthPushEventExecutorFactory" />
    <bean id="asyncCorpOrgCreatedExecutor" factory-bean="asyncCorpOrgCreatedExecutorFactory" factory-method="getExecutor" />
    <bean id="asyncCorpOrgCreatedEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncCorpOrgCreatedExecutor"/>
    </bean>
    <bean id="corpOrgCreatedEventListener" class="com.rishiqing.dingtalk.biz.event.RsqSuiteAuthPushEventListener"/>
    <!--eventBus: 可见范围变更时，同步到日事清的corpOrgChanged-->
    <bean id="asyncCorpOrgChangedExecutorFactory" class="com.rishiqing.dingtalk.biz.event.AsyncRsqSuiteAuthChangePushEventExecutorFactory" />
    <bean id="asyncCorpOrgChangedExecutor" factory-bean="asyncCorpOrgChangedExecutorFactory" factory-method="getExecutor" />
    <bean id="asyncCorpOrgChangedEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncCorpOrgChangedExecutor"/>
    </bean>
    <bean id="corpOrgChangedEventListener" class="com.rishiqing.dingtalk.biz.event.RsqSuiteAuthChangePushEventListener"/>
    <!--eventBus: 充值eventBus-->
    <bean id="asyncOrderChargeExecutorFactory" class="com.rishiqing.dingtalk.biz.event.AsyncOrderChargeEventExecutorFactory" />
    <bean id="asyncOrderChargeExecutor" factory-bean="asyncOrderChargeExecutorFactory" factory-method="getExecutor" />
    <bean id="asyncOrderChargeEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncOrderChargeExecutor"/>
    </bean>
    <bean id="orderChargeEventListener" class="com.rishiqing.dingtalk.biz.event.OrderChargeEventListener"/>
    <!--eventBus: 初始化-->
    <bean id="listenerInitService" class="com.rishiqing.dingtalk.biz.event.ListenerInitService" init-method="register">
        <property name="eventListenerMap">
            <map>
                <entry key-ref="asyncCorpSuiteAuthEventBus" value-ref="corpSuiteAuthEventListener" />
                <entry key-ref="asyncCorpOrgCreatedEventBus" value-ref="corpOrgCreatedEventListener" />
                <entry key-ref="asyncCorpOrgChangedEventBus" value-ref="corpOrgChangedEventListener" />
                <entry key-ref="asyncOrderChargeEventBus" value-ref="orderChargeEventListener" />
            </map>
        </property>
    </bean>
</beans>