<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--全局缓存的suite-->
    <bean id="globalSuite" class="com.rishiqing.dingtalk.biz.model.GlobalSuite" init-method="init"/>
    <!--基础service-->
    <bean id="suiteManageService" class="com.rishiqing.dingtalk.biz.service.base.suite.impl.SuiteManageServiceImpl" />
    <bean id="appManageService" class="com.rishiqing.dingtalk.biz.service.base.suite.impl.AppManageServiceImpl" />
    <bean id="corpSuiteAuthManageService" class="com.rishiqing.dingtalk.biz.service.base.suite.impl.CorpSuiteAuthManageServiceImpl" />
    <bean id="corpAppManageService" class="com.rishiqing.dingtalk.biz.service.base.suite.impl.CorpAppManageServiceImpl" />
    <bean id="corpManageService" class="com.rishiqing.dingtalk.biz.service.base.corp.impl.CorpManageServiceImpl" />
    <bean id="deptManageService" class="com.rishiqing.dingtalk.biz.service.base.corp.impl.CorpDepartmentManageServiceImpl" />
    <bean id="staffManageService" class="com.rishiqing.dingtalk.biz.service.base.corp.impl.CorpStaffManageServiceImpl" />
    <bean id="orderManageService" class="com.rishiqing.dingtalk.biz.service.base.order.impl.OrderManageServiceImpl" />
    <bean id="idMapStaffManageService" class="com.rishiqing.dingtalk.biz.service.base.front.impl.IdMapStaffManageServiceImpl" />
    <bean id="popupManageService" class="com.rishiqing.dingtalk.biz.service.base.front.impl.PopupManageServiceImpl" />
    <bean id="openGlobalLockManageService" class="com.rishiqing.dingtalk.biz.service.base.dingpush.impl.OpenGlobalLockManageServiceImpl" />
    <bean id="openSyncBizDataManageService" class="com.rishiqing.dingtalk.biz.service.base.dingpush.impl.OpenSyncBizDataManageServiceImpl" />
    <!--业务相关的service-->
    <bean id="suiteCallbackBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.SuiteCallbackBizServiceImpl" />
    <bean id="suiteDbCheckBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.SuiteDbCheckBizServiceImpl" />
    <bean id="corpBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.CorpBizServiceImpl" />
    <bean id="failBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.FailBizServiceImpl" />
    <bean id="popupBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.PopupBizServiceImpl" />
    <bean id="messageBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.MessageBizServiceImpl" />
    <bean id="rsqAccountBizService" class="com.rishiqing.self.biz.service.impl.RsqAccountBizServiceImpl" />
    <bean id="openGlobalLockBizService" class="com.rishiqing.dingtalk.biz.service.util.impl.OpenGlobalLockServiceImpl" />
    <bean id="openSyncBizDataBizService" class="com.rishiqing.dingtalk.biz.service.biz.impl.OpenSyncBizDataBizServiceImpl" />
    <!--辅助service-->
    <bean id="corpLockService" class="com.rishiqing.dingtalk.biz.service.util.impl.CorpLockServiceImpl" />
    <bean id="deptService" class="com.rishiqing.dingtalk.biz.service.util.DeptService" />
    <bean id="staffService" class="com.rishiqing.dingtalk.biz.service.util.StaffService" />
    <!--http工具-->
    <bean id="suiteRequestHelper" class="com.rishiqing.dingtalk.biz.http.impl.SuiteTopRequestHelper" />
    <bean id="corpRequestHelper" class="com.rishiqing.dingtalk.biz.http.impl.CorpTopRequestHelper" />
    <bean id="messageRequestHelper" class="com.rishiqing.dingtalk.biz.http.impl.MessageTopRequestHelper" />
    <bean id="httpRequestClient" class="com.rishiqing.dingtalk.biz.http.HttpRequestClient" />
    <bean id="rsqRequestHelper" class="com.rishiqing.self.biz.http.impl.RsqApiRequestHelper">
        <property name="rsqDomain" value="${rsqapi.environment}" />
        <property name="httpRequestClient" ref="httpRequestClient"/>
    </bean>

    <!--eventBus-->
    <!--eventBus: corpSuite-->
    <bean id="asyncCorpSuiteAuthExecutorFactory" class="com.rishiqing.dingtalk.biz.event.AsyncCorpSuiteAuthEventExecutorFactory" />
    <bean id="asyncCorpSuiteAuthExecutor" factory-bean="asyncCorpSuiteAuthExecutorFactory" factory-method="getExecutor" />
    <bean id="asyncCorpSuiteAuthEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncCorpSuiteAuthExecutor"/>
    </bean>
    <bean id="corpSuiteAuthEventListener" class="com.rishiqing.dingtalk.biz.event.CorpSuiteAuthEventListener" />
    <!--eventBus: corpOrgSync-->
    <bean id="asyncCorpOrgSyncExecutorFactory" class="com.rishiqing.dingtalk.biz.event.AsyncCorpOrgSyncEventExecutorFactory" />
    <bean id="asyncCorpOrgSyncExecutor" factory-bean="asyncCorpOrgSyncExecutorFactory" factory-method="getExecutor" />
    <bean id="asyncCorpOrgSyncEventBus" class="com.google.common.eventbus.AsyncEventBus">
        <constructor-arg ref="asyncCorpOrgSyncExecutor"/>
    </bean>
    <bean id="corpOrgSyncEventListener" class="com.rishiqing.dingtalk.biz.event.CorpOrgSyncEventListener"/>
    <!--eventBus: 初始化-->
    <bean id="listenerInitService" class="com.rishiqing.dingtalk.biz.event.ListenerInitService" init-method="register">
        <property name="eventListenerMap">
            <map>
                <entry key-ref="asyncCorpSuiteAuthEventBus" value-ref="corpSuiteAuthEventListener" />
                <entry key-ref="asyncCorpOrgSyncEventBus" value-ref="corpOrgSyncEventListener" />
            </map>
        </property>
    </bean>
</beans>