<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rishiqing.dingtalk.dao.mapper.corp.CorpDao">

    <resultMap type="com.rishiqing.dingtalk.dao.model.corp.CorpDO" id="corpMap">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="corpId" column="corp_id"/>
        <result property="inviteCode" column="invite_code"/>
        <result property="industry" column="industry"/>
        <result property="corpName" column="corp_name"/>
        <result property="inviteUrl" column="invite_url"/>
        <result property="corpLogoUrl" column="corp_logo_url"/>
        <result property="rsqId" column="rsq_id"/>
        <result property="scopeVersion" column="scope_version"/>
    </resultMap>

    <sql id="select-all-fields">
        id,
        gmt_create,
        gmt_modified,
        corp_id,
        invite_code,
        industry,
        corp_name,
        invite_url,
        corp_logo_url,
        rsq_id,
        scope_version
    </sql>

    <insert id="saveOrUpdateCorp" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO isv_corp (
            gmt_create,
            gmt_modified,
            corp_id,
            invite_code,
            industry,
            corp_name,
            invite_url,
            corp_logo_url,
            scope_version
        ) VALUES (
            now(),
            now(),
            #{corpId},
            #{inviteCode},
            #{industry},
            #{corpName},
            #{inviteUrl},
            #{corpLogoUrl},
            #{scopeVersion}
        )
        ON DUPLICATE KEY UPDATE
            gmt_modified  = now(),
            invite_code   = #{inviteCode},
            industry      = #{industry},
            corp_name     = #{corpName},
            invite_url    = #{inviteUrl},
            corp_logo_url = #{corpLogoUrl},
            scope_version = #{scopeVersion}
    </insert>

    <update id="updateCorpRsqInfo">
        UPDATE isv_corp
        SET rsq_id = #{rsqId}
        WHERE corp_id = #{corpId}
    </update>

    <select id="getCorpByCorpId" resultMap="corpMap">
        SELECT
        <include refid="select-all-fields"/>
        FROM isv_corp
        <![CDATA[
			WHERE corp_id=#{corpId}
		 ]]>
    </select>

    <select id="getCorpById" resultMap="corpMap">
        SELECT
        <include refid="select-all-fields"/>
        FROM isv_corp
        <![CDATA[
			WHERE id=#{id}
		 ]]>
    </select>

    <select id="getCorpListByIdRange" resultMap="corpMap">
        SELECT
        <include refid="select-all-fields"/>
        FROM isv_corp
        <![CDATA[
			WHERE id >= #{fromId} AND id < #{toId}
		 ]]>
    </select>

</mapper>