<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring-manager-dingmain.xml"/>

    <!--业务相关的service-->
    <bean id="phoneCallBizService" class="com.rishiqing.dingtalk.svc.service.biz.impl.PhoneCallBizServiceImpl"/>
    <bean id="corpQueryService" class="com.rishiqing.dingtalk.svc.service.biz.impl.CorpQueryServiceImpl"/>
    <bean id="suiteRequestHelper" class="com.rishiqing.dingtalk.req.dingtalk.auth.http.impl.SuiteTopRequestHelper"/>
</beans>