<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rishiqing.dingtalk.dao.mapper.corp.CorpJSAPITicketDao">

    <resultMap type="com.rishiqing.dingtalk.dao.model.corp.CorpJSAPITicketDO" id="corpJSAPITicketMap">
        <id property="id" column="id" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="suiteKey" column="suite_key" />
        <result property="corpId" column="corp_id" />
        <result property="corpJSAPITicket" column="corp_jsapi_ticket" />
        <result property="expiredTime" column="expired_time" />
    </resultMap>

    <sql id="select-all-fields">
        id,
        gmt_create,
        gmt_modified,
        suite_key,
        corp_id,
        corp_jsapi_ticket,
        expired_time
    </sql>

    <insert id="saveOrUpdateCorpJSAPITicket" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO isv_corp_suite_jsapi_ticket (
        gmt_create,
        gmt_modified,
        suite_key,
        corp_id,
        corp_jsapi_ticket,
        expired_time
        )VALUES(
        now(),
        now(),
        #{suiteKey},
        #{corpId},
        #{corpJSAPITicket},
        #{expiredTime}
        )ON DUPLICATE KEY UPDATE gmt_modified=now(),corp_jsapi_ticket=#{corpJSAPITicket},expired_time=#{expiredTime}
    </insert>

    <delete id="deleteCorpJSAPITicketByCorpId">
        DELETE FROM isv_corp_suite_jsapi_ticket
        <![CDATA[
			WHERE corp_id=#{corpId}
		 ]]>
    </delete>

    <select id="getCorpJSAPITicketByCorpId" resultMap="corpJSAPITicketMap">
        SELECT <include refid="select-all-fields"/>  FROM isv_corp_suite_jsapi_ticket
        <![CDATA[
			WHERE corp_id=#{corpId}
		 ]]>
    </select>

</mapper>